body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.login-container {
    max-width: 400px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    letter-spacing: 1px;
    color: var(--boton);
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: var(--boton);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

.login-container button:hover {
    background-color: #3d2714;
    cursor: pointer;
}